{% extends 'base.html.twig' %}

{% block title %}Liste des Clients{% endblock %}

{% block body %}
    <h1>Liste des Clients</h1>
    <table class="min-w-full border-collapse border border-gray-300">
        <thead>
            <tr>
                <th class="border border-gray-300 p-2">Prénom & Nom</th>
                <th class="border border-gray-300 p-2">Téléphone</th>
                <th class="border border-gray-300 p-2">Adresse</th>
                <th class="border border-gray-300 p-2">Surname</th>
                <th class="border border-gray-300 p-2">Dette</th>
                <th class="border border-gray-300 p-2">Détails</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td class="border border-gray-300 p-2">
                        {{ client.user?.prenom }} {{ client.user?.nom }}
                    </td>
                    <td class="border border-gray-300 p-2">{{ client.telephone }}</td>
                    <td class="border border-gray-300 p-2">{{ client.adresse }}</td>
                    <td class="border border-gray-300 p-2">{{ client.surname }}</td>
                    <td class="border border-gray-300 p-2">{{ client.dette.montantRestant ?? 'N/A' }}</td>
                    <td class="border border-gray-300 p-2">
                        <a href="{{ path('dette_detail', { id: client.id }) }}" class="bg-blue-500 text-white px-4 py-2 rounded">
                            Détails
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
